@model Colaborador

@{
    Layout = null;
}

<form asp-action="Create">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div>
            <label asp-for="Nome"></label>
            <input asp-for="Nome"/>
        </div>
        <div>
            <label asp-for="Telefone"></label>
            <input asp-for="Telefone"/>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>