@model Colaborador

@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<form asp-action="Edit" method="post">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Colaborador</h5>
        <button type="button" class="btn-close close-table" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <input asp-for="Id" hidden/>
        <div>
            <label asp-for="Nome"></label>
            <input asp-for="Nome" class="form-control" />

        </div>
        <div>
            <label asp-for="Telefone"></label>
            <input asp-for="Telefone" class="form-control" />
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div>
            <label>Cargos</label>
            <select asp-for="IdCargo" class="form-select">
                @foreach (var item in ViewBag.Cargos)
                {
                    <option value="@item.Id">
                        @item.Nome
                    </option>
                }
            </select>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    
</script>
